#controls {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid gray;
}

h1 {
  font-size: 1em;
}

fieldset {
  border: none;
  display: inline-block;
  padding: 0;
}

fieldset p {
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#grid {
  z-index: 0;
}

img {
  width: 120px;
  height: 120px;
}

.tree a {
  text-decoration: none;
}

input[type=range] {
  -webkit-appearance: none;
  height:2px;
  background-color: gray;
}
